<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>myg6n Side Demo Page</title>
        <link rel="stylesheet" href="side.css"/>
        <script src="side.js"></script>
    </head>
    <body>
        <header>
            <h1>Welcome World!</h1>
        </header>
        <main>
            <p>
                To our regular old fashioned frontend static homepage.
            </p>
            <p style="background-color: black;">
                <img src="iau_rocks.png" alt="ia rocks"/>
            </p>
        </main>
        <footer>
            <p>
                &copy; nml
            </p>
        </footer>
    </body>
</html>
