<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="/testpost" method="POST">
		<h1>Add new country</h1>
		<input type="text" name="country" placeholder="Country"></input>
		<select type="text" name="continent" placeholder="Continent">
			<option value="Africa">Africa</option>
			<option value="Antarctica">Antarctica</option>
			<option value="Australia">Australia</option>
			<option value="Asia">Asia</option>
			<option value="Europe">Europe</option>
			<option value="North America">North America</option>
			<option value="South America">South America</option>
		</select>
		<input type="text" name="area" placeholder="Area"></input>
		<input type="text" name="population" placeholder="Population"></input>
		<input type="text" name="governmenform" placeholder="Governmentform"></input>
		<button type="submit">OK</button>
	</form>
	<!--
	<h1>test post site</h1>
<form action="/testpost" method="POST">
	<h1>Add new country</h1>
	<input type="text" name="country" placeholder="Country"></input>
	<input type="text" name="continent" placeholder="Continent"></input>
	<input type="text" name="area" placeholder="Area"></input>
	<input type="text" name="population" placeholder="Population"></input>
	<input type="text" name="governmenform" placeholder="Governmentform"></input>
	<button type="submit">OK</button>
</form>
-->
</body>
</html>
