<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>test post site</h1>
<form action="/form" method="post">
	<h1>Add new country</h1>
	<input type="text" name="country" placeholder="Country"></input>
	<input type="text" name="continent" placeholder="Continent"></input>
	<input type="text" name="area" placeholder="Area"></input>
	<input type="text" name="population" placeholder="Population"></input>
	<input type="text" name="governmenform" placeholder="Governmentform"></input>
</form>
</body>
</html>
